.button {
  outline: none;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 12px;
  min-width: 32px;
  text-align: center;
  text-decoration: none;
  line-height: 1.25rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.default {
  background-color: #f1f2f3;
  color: #808082;

  &:disabled {
    background-color: #f8f8f8;
  }
}

.primary {
  background-color: #636c79;
  color: #fff;

  &:disabled {
    background-color: #848c9a;
  }
}

.large {
  padding: 16px 32px;
  font-size: 1rem;
}

.block {
  display: block;
  width: 100%;
}
