.profile {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.menu {
  margin-right: 18px;
}

.panel {
  border: 1px solid rgba(#10161a, 0.1);
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(#10161a, 0.2);
  background-color: #fff;
  padding: 24px;
  min-width: 668px;
}
