.header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 1px 5px -1px rgba(#10161a, 0.2);
  background-color: #fbfbfb;
  width: 100vw;
  height: 50px;
}

.logo {
  height: 32px;
}

.nav {
  display: flex;
  margin-right: auto;

  > * {
    margin-right: 8px;
    margin-bottom: 0;
  }
}

.avatar {
  margin-right: 4px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.login-button {
  padding-right: 32px;
  padding-left: 32px;
}

%side-nav-toggle-line {
  display: block;
  border-radius: 1px;
  background-color: #7e878c;
  height: 2px;
}

.side-nav-toggle {
  box-sizing: content-box;
  position: absolute;
  left: 20px;
  outline: none;
  border: 0;
  border-radius: 1px;
  cursor: pointer;
  padding: 4px;
  width: 16px;

  &::before,
  &::after {
    @extend %side-nav-toggle-line;

    content: '';
  }
}

.side-nav-toggle-middle-line {
  @extend %side-nav-toggle-line;

  margin: 3px 0;
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
    padding: 0 4%;
  }

  .side-nav-toggle {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .header {
    padding: 0 100px;
  }
}
