%side-nav-toggle-line {
  display: block;
  border-radius: 1px;
  background-color: #7e878c;
  height: 2px;
}

.side-nav-toggle {
  box-sizing: content-box;
  position: absolute;
  left: 20px;
  outline: none;
  border: 0;
  border-radius: 1px;
  cursor: pointer;
  padding: 4px;
  width: 16px;

  &::before,
  &::after {
    @extend %side-nav-toggle-line;

    content: '';
  }
}

.side-nav-toggle-middle-line {
  @extend %side-nav-toggle-line;

  margin: 3px 0;
}

@media screen and (min-width: 768px) {
  .side-nav-toggle {
    display: none;
  }
}
