.nav {
  display: flex;

  > * {
    margin-right: 0;
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
      margin-right: 8px;
      margin-bottom: 0;
    }
  }
}

.avatar {
  margin-right: 4px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.test {
  border: 0;
  border-radius: 4px;
  background: #636c79;
  cursor: pointer;
  padding: 8px 16px;
  height: 32px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}
