.menu {
  margin: 0;
  border: 1px solid rgba(#10161a, 0.1);
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(#10161a, 0.2);
  background-color: #fff;
  padding: 5px;
  width: 250px;
  list-style: none;
  text-align: left;
}
