.container {
  margin-bottom: 12px;
}

.input {
  outline: none;
  border: 1px solid #ececec;
  border-radius: 3px;
  background-color: #fff;
  padding: 12px 24px;
  width: 100%;
  height: 48px;
  color: #6d757a;
  touch-action: manipulation;

  &::placeholder {
    color: #6d757a;
    user-select: none;
  }

  &--error {
    border-color: #dc5454;
  }
}

.error {
  margin: 8px 0 0;
  padding: 0 2px;
  color: #dc5454;
  font-size: 0.95em;
  font-weight: 500;
}
