.status {
  margin: -24px -24px 12px;
  padding: 12px 24px;
  text-align: center;
  color: #fff;
  font-weight: 500;
}

.success {
  background-color: #8ad737;
}

.error {
  background-color: #dc5454;
}
