.container {
  margin-bottom: 12px;
  font-size: 0.9rem;
}

.label {
  display: inline-block;
  margin-bottom: 8px;
  color: #182026;
  font-weight: 500;
}

.input {
  outline: none;
  border: 1px solid #ececec;
  border-radius: 3px;
  background-color: #fff;
  padding: 5px 12px;
  width: 100%;
  height: 34px;
  color: #6d757a;
  touch-action: manipulation;

  &::placeholder {
    color: #6d757a;
    user-select: none;
  }
}

.message {
  margin-top: 4px;
  padding: 0 2px;
  color: #182026;
  font-size: 0.85em;
  font-weight: 300;
}

// Modifiers

.large {
  font-size: 1rem;

  .label {
    margin-bottom: 12px;
  }

  .input {
    padding: 12px 24px;
    height: 48px;
  }

  .message {
    margin-top: 8px;
    font-size: 0.95rem;
  }
}

.error {
  .input {
    border-color: #dc5454;
  }

  .message {
    color: #dc5454;
    font-weight: 500;
  }
}

// .container {
//   margin-bottom: 12px;
//   font-size: 0.8rem;
// }

// .label {
//   display: inline-block;
//   margin-bottom: 12px;
//   color: #182026;
//   font-weight: 500;
// }

// .input {
//   outline: none;
//   border: 1px solid #ececec;
//   border-radius: 3px;
//   background-color: #fff;
//   padding: 5px 12px;
//   width: 100%;
//   height: 34px;
//   color: #6d757a;
//   touch-action: manipulation;

//   &::placeholder {
//     color: #6d757a;
//     user-select: none;
//   }
// }

// .error {
//   border-color: #dc5454;
// }

// .error-message {
//   margin: 8px 0 0;
//   padding: 0 2px;
//   color: #dc5454;
//   font-size: 0.95em;
//   font-weight: 500;
// }

// .large {
//   font-size: 1rem;

//   .input {
//     padding: 12px 24px;
//     height: 48px;
//   }
// }
