.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 0;
  border-radius: 4px;
  background-color: #f1f2f3;
  cursor: pointer;
  padding: 4px;
  min-width: 100px;
  height: 32px;
  color: #808082;
}
